<% if signed_in? %>
  <table class="front" summary="Pour visiteur identifié">
    <tr>
      <td class="main">
        <h1 class="micropost"> Share </h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Home</h1>

  <p>
    Welcome on Cerbère Capital website. We warn you that Stubbing may become addictive. 
    <a href="http://http://www.bloomberg.com/">Bloomberg news feed </a>.
  </p>

  <%= link_to "Sign Up !", signup_path, :class => "signup_button round" %>
<% end %>